* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a { color: inherit; } 

body {
    background-image: url("assets/background.gif");
    background-color: #242b49;
    background-position-y: 106px center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-attachment: fixed; 
}

.base-header {
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1b1e31;
    color: #6eff2b;
    position: fixed;
    height: 106px;
    width: 100%;
}

.base-header-title {
    padding-left: 160px;
    font-size: 44px;
    font-family: 'IBM Plex Mono', monospace;
}

.base-header-navbar {
    padding-left: 150px;
    padding-right: 350px;
    list-style-type: none;
    overflow: hidden;
    background-color: #1b1e31;
}

.base-header-navbar-object {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
}
.base-header-navbar-object:hover {
    background-color: #242b49;
}

.base-header-logo {
    padding: 17px;
    position: fixed;
    width: 100px;
}

.base-main {
    background-color: #242b49;
    height: calc(100vh - 306px);
}

.base-featured {
    padding-top: 106px;
    height: calc(100vh - 106px);
}

.base-featured-slogan {
    font-family: 'IBM Plex Mono';
    color: #6eff2b;
    text-align: center;
    font-size: 58px;
    padding-top: 100px;
}

.base-featured-description {
    font-family: 'IBM Plex Mono';
    color: #6eff2b;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.base-featured-scroll {
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: calc(100vh - 500px);
}

.base-footer {
    position: static;
    background-color: #1b1e31;
    height: 200px;
    width: 100%;
}

.base-footer-contacts {
    padding: 20px;
}

.base-footer-contacts-text {
    font-family: 'IBM Plex Mono';
    color: #6eff2b;
}